body{
	background-image: url("../img/block.jpg");
	background-size: 500px 500px;
	background-repeat: no-repeat;
}
ul.err-area li{
	color:red
}
.data-table{float:left;display:inline-block}
.data-table table{border-collapse:collapse;border:1px solid #ddd;}
.page-data{float:left;display:inline-block;}
.block-list{
	width: 300px;
    height: 100px;
    background-color: white;
    /*box-shadow: 10px 10px 5px #888888;*/

}